USE [master]
GO
/****** Object:  Database [bookDrill]    Script Date: 3/6/2017 1:39:25 PM ******/
CREATE DATABASE [bookDrill]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tester', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\tester.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tester_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\tester_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bookDrill].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bookDrill]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 3/6/2017 1:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[PublishersName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookAuthors]    Script Date: 3/6/2017 1:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[BookID] [int] NOT NULL,
	[AuthorName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookCopies]    Script Date: 3/6/2017 1:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCopies](
	[BookID] [int] NOT NULL,
	[BranchID] [int] NOT NULL,
	[NumOfCopies] [nvarchar](50) NULL,
 CONSTRAINT [PK__BookCopi__3DE0C227EE1C64C9] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC,
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookLoans]    Script Date: 3/6/2017 1:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookLoans](
	[BookID] [int] NOT NULL,
	[BranchID] [int] NOT NULL,
	[CardNo] [int] NOT NULL,
	[DateOut] [nvarchar](50) NULL,
	[DateDue] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC,
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Borrower]    Script Date: 3/6/2017 1:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrower](
	[CardNo] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CardNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LibraryBranch]    Script Date: 3/6/2017 1:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryBranch](
	[BranchID] [int] NOT NULL,
	[BranchName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 3/6/2017 1:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[PublishersName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PublishersName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Publisher] FOREIGN KEY([PublishersName])
REFERENCES [dbo].[Publisher] ([PublishersName])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Publisher]
GO
ALTER TABLE [dbo].[BookCopies]  WITH CHECK ADD  CONSTRAINT [FK_BookCopies_Book] FOREIGN KEY([BranchID])
REFERENCES [dbo].[LibraryBranch] ([BranchID])
GO
ALTER TABLE [dbo].[BookCopies] CHECK CONSTRAINT [FK_BookCopies_Book]
GO
ALTER TABLE [dbo].[BookCopies]  WITH CHECK ADD  CONSTRAINT [FK_BookTOBranch] FOREIGN KEY([BranchID])
REFERENCES [dbo].[LibraryBranch] ([BranchID])
GO
ALTER TABLE [dbo].[BookCopies] CHECK CONSTRAINT [FK_BookTOBranch]
GO
ALTER TABLE [dbo].[BookLoans]  WITH CHECK ADD  CONSTRAINT [FK_BookLoans_BookAuthors] FOREIGN KEY([BookID])
REFERENCES [dbo].[BookAuthors] ([BookID])
GO
ALTER TABLE [dbo].[BookLoans] CHECK CONSTRAINT [FK_BookLoans_BookAuthors]
GO
ALTER TABLE [dbo].[BookLoans]  WITH CHECK ADD  CONSTRAINT [FK_BookLoans_Borrower] FOREIGN KEY([CardNo])
REFERENCES [dbo].[Borrower] ([CardNo])
GO
ALTER TABLE [dbo].[BookLoans] CHECK CONSTRAINT [FK_BookLoans_Borrower]
GO
ALTER TABLE [dbo].[BookLoans]  WITH CHECK ADD  CONSTRAINT [FK_BookLoansTOBranch] FOREIGN KEY([BranchID])
REFERENCES [dbo].[LibraryBranch] ([BranchID])
GO
ALTER TABLE [dbo].[BookLoans] CHECK CONSTRAINT [FK_BookLoansTOBranch]
GO
USE [master]
GO
